@model ProductListViewModels
@{ 
    ViewData["Title"] = "List";
}

<h2>List</h2>
@foreach (var p in Model.Products)
{
    <div class="card col-3 m-2 p-1">
        @*<img src="..." class="card-img-top" alt="...">*@
        <div class="card-body">
            <h5 class="card-title">@p.Name</h5>
            <p class="card-text">@p.Description</p>
            <p class="card-text">@p.Price</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
}


